.btn_primary {
    background-color: #7367f0;
    border-radius: 0.358rem;
    color: #fff;
    padding: 0.486rem 1.5rem;
    font-size: 1rem;
    border: none;
}

.btn_primary:hover {
    background-color: #5e54e2;
}
.btn_outline_primary {
    color: #7367f0;
    border: 1px solid #7367f0;
    font-size: 1rem;
    border-radius: 0.358rem;
}
.btn_outline_primary:hover {
    background-color: #7367f0;
    color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    padding: .426rem .9375rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.625;
    color: var(--bs-heading-color);
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border: 1px solid color-mix(in sRGB, #7367f0 22%, #fff);
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.form-control:focus {
    color: #444050;
    background-color: rgba(0, 0, 0, 0);
    border-color: #685dd8;
    outline: 0;
    box-shadow: 0 .125rem .375rem 0 rgba(115, 103, 240, 0.3);
}

.form-label {
    margin-bottom: .25rem;
    font-size: 0.8125rem;
    color: #444050;
}

.table img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

table.dataTable thead th {
    text-align: left;
    background: #f3f2f7 !important;
    color: #6e6b7b !important;
}

th {
    color: #6e6b7b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    background-color: #6e6b7b;
}

.btn-edit {
    background-color: rgba(115, 103, 240, 0.12);
    color: #7367f0 !important;
    border: 1px solid rgba(115, 103, 240, 0.12);
    border-radius: 0.25rem;
    padding: 0.35rem 0.5rem;
    font-size: 14px;
}

.btn-delete {
    background-color: rgba(234, 84, 85, 0.12);
    color: #ea5455 !important;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.35rem 0.5rem;
    font-size: 14px;
}

.form-check-input {
    width: 1.2rem;
    height: 1.2rem;
}

.form-check-input:checked {
    background-color: #7367f0;
    border-color: #7367f0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
    display: inline-flex;
}

.dataTables_paginate .page-item .page-link {
    color: #6e6b7b;
}

.dataTables_paginate .page-item.active .page-link {
    background-color: #7367f0;
    color: #fff;
    border-color: #7367f0;
}

table.dataTable th,
table.dataTable td {
    padding: 10px 30px;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    color: #6e6b7b;
}



.form-control-sm {
    min-height: 39px !important;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: var(--bs-border-radius-sm);
    width: 100%;
}

div#userTable_wrapper .row {
    margin-bottom: 20px !important;
    padding: 0 27px;
}

div#userTable_filter input {
    width: 220px;
    padding: 0.371rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
}

.card {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 20px 0px;
    border: none;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
}

div.dataTables_wrapper div.dt-row {
    position: relative;
    padding: 0px !important;
}

.bdr {
    border-bottom: 1px solid #ebe9f1;
    margin: 20px 0px;
}

.dataTables_wrapper .dataTables_info {
    color: #6e6b7b;
}

@media screen and (max-width: 768px) {
    div#userTable_filter label {
        margin-top: 30px !important;
    }

    div#userTable_paginate .pagination {
        margin-top: 20px !important;
    }

}

.close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0px 6px;
    background-image: none;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(47, 43, 61, 0.1);
    opacity: 1;
    transform: translate(23px, -25px);
    border-radius: .25rem;
    transition: all .23s ease .1s;
    background-color: #fff;
    z-index: 9999;
    cursor: pointer;
}

.close_btn:hover {
    opacity: 1;
    outline: 0;
    transform: translate(20px, -20px);
}

.modal-body {
    box-shadow: 0 0.25rem 1.125rem 0 rgba(47, 43, 61, 0.16);
}
